/*******************
    LOADER
********************/

.ship-loader {
    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 73.5px);
    width: 147px;
    height: 70px;
    border-radius: 5px;
    perspective: 800px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #F4F4F4;
    z-index: 99999;
}

.ship-loader div,
.ship-loader img {
    float:left;
}

.ship-loader div { margin-top: 8px; }
.ship-loader img { width: 40px; }

/*******************
    DISPLAY
********************/

.display { display: none; }
